{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block body_class %}blog{% endblock %}

{% block body %}

<!-- ======= Blog Header ======= -->
<div id="blog-header">
  <div class="w-container d-flex align-items-center">
    <a href="/blog" class="site-name mr-auto"><h1>yDavid - Blog</h1></a>
    <nav class="nav-bar">
      <ul>
        <li><a href="/blog"><span>Home</span></a></li>
        <li><a href="/"><span>Landing</span></a></li>
        <li><a href="/contact"><span>Contact</span></a></li>
      </ul>
    </nav>
  </div>
</div>

<main id="blog">
  <div class="w-container d-flex">
    <div class="box sidebar d-flex align-items-center flex-column">
        <div class="profile-frame rounded-circle">
            <img src="assets/img/grad_profile.jpg" alt="">
        </div>
        <p>Here is some filler text that I will replace later once I have finished with creating the layout for this webpage.</p>
        <hr>
        <p>Here is some more filler text that will be replaced. The side bar is looking pretty good thus far!</p>
        <hr>
        <p>DESIGN INSPIRED FROM <a href="https://webflow.com/templates/html/denali-blog-website-template">WEBFLOW</a></p>
    </div>

    <div class="d-flex flex-column">
        <div class="article-preview box d-flex">
            <div class="frame">
                <img src="/assets/img/2015_tahoe_sunset.jpg" alt="">
            </div>
            <div class="text flex-grow-1">
                <h4>Sample Article</h4>
                <p class="subtext">JANUARY 13, 2021</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    
        <div class="article-preview box d-flex">
            <div class="frame">
                <img src="/assets/img/2015_tahoe_sunset.jpg" alt="">
            </div>
            <div class="text flex-grow-1">
                <h4>Sample Article</h4>
                <p class="subtext">JANUARY 13, 2021</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>

        <div class="article-preview box d-flex">
            <div class="frame">
                <img src="/assets/img/2015_tahoe_sunset.jpg" alt="">
            </div>
            <div class="text flex-grow-1">
                <h4>Sample Article</h4>
                <p class="subtext">JANUARY 13, 2021</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum.
                    <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
  </div>
</main>
{% endblock %}